<h2 id="title">Welcome to Ember</h2>

<p>These are defined in both "en" and "es" locales.</p>
<ol>
  <li>{{t "validations.accepted"}}</li>
  <li>{{t "validations.after"}}</li>
  <li>{{t "validations.before"}}</li>
  <li>{{t "validations.between"}}</li>
</ol>
<p>These are defined only in "en".</p>
<ol>
  <li>{{t "validations.blank"}}</li>
  <li>{{t "validations.collection"}}</li>
  <li>{{t "validations.confirmation"}}</li>
  <li>{{t "validations.date"}}</li>
</ol>

<p>These are only in "es".</p>
<ol>
  <li>{{t "validations.accepted"}}</li>
</ol>
{{outlet}}